[user]
	name = Shayan
	email = syedshayanabbas@gmail.com
[includeIf "gitdir:~/transect-nx/"]
	path = ~/.gitconfig-work
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[core]
	excludesfile = /Users/shayan/.gitignore_global
